.navbar{
    margin-bottom:0;
}
.btn-login-logout{
    height: 50px;
    border-radius: 0;
    margin-right:-15px;
    background-color: #f8f8f8;
    border: none;
}
.btn-login-logout:hover{
    background: #e6e6e6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.login-logout-text{
    display: none;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .login-logout-text{
        display: inline-block;
    }
    .btn-login-logout{
        margin-right: 0;
        margin-left: 5px;
        border: none;

    }
    .btn-login-logout:hover{
        border: none;
        border-radius: 0;
        background-color: #f8f8f8;
    }
}