.scope-detail-input-group{
    margin-bottom: 10px;
}

.input-scope-detail-addon{
    min-width: 85px;
}

.scope-detail-btn-group{
    margin-bottom:10px;
}

.checkbox-addon{
    border-top: none;
    border-bottom: none;
    border-right:1px solid #ccc;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.form-control-checkbox{
    width: 100px;
    margin-left:-27px;
}